<div class="pt-4" id="<%= dom_id employee %>">
  <h2 class="text-2xl font-geinst text-center">Informações do funcionário</h2>
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome completo:</strong>
    <%= employee.full_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data de nascimento:</strong>
    <%= employee.birthday %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gênero:</strong>
    <%= employee.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">CPF:</strong>
    <%= employee.cpf %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">RG:</strong>
    <%= employee.rg %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefone:</strong>
    <%= employee.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= employee.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cargo:</strong>
    <%= employee.position_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data de contratação:</strong>
    <%= employee.contract_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Salário:</strong>
    <%= employee.salary %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= employee.status %>
  </p>

</div>
