<div id="<%= dom_id employee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Full name:</strong>
    <%= employee.full_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birthday:</strong>
    <%= employee.birthday %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= employee.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= employee.cpf %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rg:</strong>
    <%= employee.rg %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= employee.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= employee.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= employee.position_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contract date:</strong>
    <%= employee.contract_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Salary:</strong>
    <%= employee.salary %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= employee.status %>
  </p>

</div>
