<div class="pt-4" id="<%= dom_id employee %>">
  <h2 class="text-2xl font-geinst text-center">Informações do funcionário</h2>
  <p class="my-5">
    <span class="block font-medium mb-1">Nome completo:</span>
    <%= employee.full_name %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Data de nascimento:</span>
    <%= employee.birthday %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Gênero:</span>
    <%= employee.gender %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">CPF:</span>
    <%= employee.cpf %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">RG:</span>
    <%= employee.rg %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Telefone:</span>
    <%= employee.phone %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Email:</span>
    <%= employee.email %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Cargo:</span>
    <%= employee.position_id %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Data de contratação:</span>
    <%= employee.contract_date %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Salário:</span>
    <%= employee.salary %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Status:</span>
    <%= employee.status %>
  </p>

</div>
