<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Funcionários</h1>
    <div class="flex space-x-4">
      <div>
        <%= link_to "Criar novo funcionário", new_employee_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      </div>
    </div>
  </div>

  <div data-controller="filter" class="my-3">
    <%= link_to "Filtros", nil, remote: true, class: "rounded-lg py-3 px-4 bg-blue-600 text-white font-medium",
      data: {
        action: "click->filter#toggle"
      }
    %>
    <div data-filter-target="show" class="hidden">
      <%= render "filters/filters_employees", employee: @employee, department: @department%>
    </div>
  </div>

  <div id="employees" class="min-w-full">
    <% @employees.each do |employee| %>
      <p>Nome: <%= employee.full_name %> </p>

      <p>Cargo: <%= employee.position.name %> </p>

      <p>Departamento: <%= employee.position.department.name %> </p>

      <p>Data de contratação: <%= employee.contract_date %></p>

      <p> <%= link_to "Detalhes", employee, class: "rounded-lg bg-gray-100 inline-block font-medium" %> </p>

      <hr class="bg-black">
    <% end %>
  </div>
</div>