<%= form_with(model: position, class: "contents") do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5"> 
    <%= form.label :name, "Nome" %> <br>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5"> 
    <%= form.label :description, "Descrição" %> <br> 
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5"> 
    <%= form.label :department_id, "Departamento" %> <br>
    <%= form.collection_select :department_id, Department.all, :id, :name, prompt: "Selecione um departamento: ",class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5"> 
    <%= form.label :level, "Nível de acesso"%> <br>
    <%= form.select :level, ["Júnior", "Pleno", "Sênior", "Não se aplica"] , class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5"> 
    <%= form.label :base_salary, "Salário base" %> <br>
    <%= form.text_field :base_salary, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5"> 
    <%= form.label :requirements, "Requisitos" %> <br>
    <%= form.text_area :requirements, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5"> 
    <%= form.label :benefits, "Benefícios" %> <br>
    <%= form.text_area :benefits, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5"> 
    <%= form.label :status, "Status" %> <br>
    <%= form.select :status, ["Ativo", "Inativo"] ,class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
