<div id="<%= dom_id position %>">
  <p class="my-5">
    <span class="block font-medium mb-1">Nome:</span>
    <%= position.name %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Descrição do cargo:</span>
    <%= position.description %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Departamento:</span>
    <%= position.department.name %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Nível do funcionário:</span>
    <%= position.level %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Base salarial:</span>
    R$ <%= position.base_salary %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Requirementos:</span>
    <%= position.requirements %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Benefícios:</span>
    <%= position.benefits %>
  </p>

  <p class="my-5">
    <span class="block font-medium mb-1">Status:</span>
    <%= position.status %>
  </p>

</div>
