<div id="<%= dom_id position %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= position.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= position.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Department:</strong>
    <%= position.department.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level:</strong>
    <%= position.level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Base salary:</strong>
    <%= position.base_salary %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Requirements:</strong>
    <%= position.requirements %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Benefits:</strong>
    <%= position.benefits %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= position.status %>
  </p>

</div>
