<div class="mx-auto my-4 max-w-md">
  <h2 class="text-center text-2xl font-geinst"> Editar usuário </h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="my-5">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="my-5">
      <%= f.label :password, "Nova senha" %> <br />
      <%= f.password_field :password, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  
    <div class="my-5">
      <%= f.label :password_confirmation, "Confirmar nova senha" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  
    <div class="my-5">
      <%= f.label :current_password, "Senha atual" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  
    <div class="actions flex justify-between">
      <%= f.submit "Atualizar", class: "cursor-pointer text-white shadow rounded-md border bg-blue border-gray-400 outline-none px-3 py-2 mt-2 mb-4" %>
      <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "cursor-pointer text-white shadow rounded-md border bg-blue border-gray-400 outline-none px-3 py-2 mt-2 mb-4" %>
      <%= link_to "Voltar", :back, class: "cursor-pointer text-white shadow rounded-md border bg-blue border-gray-400 outline-none mt-2 mb-4 back_edit" %>
    </div>
  <% end %>
  
</div>
