<div class="mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "contents") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="my-5">
      <%= f.label :name , "Nome Completo:"%><br>
      <%= f.text_field :name, autofocus: "name", autocomplete: true, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  
    <% if User.count > 0 %>
      <div data-controller="checkboxes">
        <div class="my-5">
          <%= f.label :acess, "Nível de Acesso:" %><br>
          <%= f.select :acess, [["Administrador", "admin"], ["Gestor de RH", "gestor"]], {},
            data: { action: "change->checkboxes#select" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
  
        <div data-checkboxes-target="show" class="my-5 hidden">
          <%= f.label :departments, "Departamento:" %><br>
          <%= f.collection_check_boxes :department_ids, Department.all, :id, :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
      </div>
    <% end %>
  
    <div class="my-5">
      <%= f.label :email, "Email:" %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  
    <% if User.exists? %>
      <div class="my-5">
        <% generated_password = "654321" %>
        <%= f.hidden_field :password, value: generated_password %>
        <%= f.hidden_field :password_confirmation, value: generated_password %>
      </div>
    <% else %>
      <div class="my-5">
        <%= f.label :password, "Senha" %>
        <% if @minimum_password_length %>
        <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    
      <div class="my-5">
        <%= f.label :password_confirmation, "Confirme a Senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Cadastre-se", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
