<div class="mx-auto">
  <h1 class="text-center">Novo usuário</h1>
  <%= form_with(model: @user, local: true, class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :name, "Nome completo:" %>
      <%= form.text_field :name, autofocus: true, autocomplete: false, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div data-controller="checkboxes">
      <div class="my-5">
        <%= form.label :acess, "Nível de acesso:" %>
        <%= form.select :acess, [["Administrador", "admin"], ["Gestor de RH", "gestor"]], {},
          data: {
            action: "change->checkboxes#select"
          }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
        %>
      </div>

      <div data-checkboxes-target="show" class="hidden my-5">
        <%= form.label :departments, "Departamentos: " %>
        <%= form.collection_check_boxes :departments, Department.all, :id, :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    </div>

    <div class="my-5">
      <%= form.label :email, "Email:" %>
      <%= form.email_field :email, autocomplete: "email", autofocus: true, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5 text-center">
      <%= form.submit "Criar usuário" %>
    </div>
  <% end %>
</div>
