<div class="bg-blue w-full h-screen flex justify-center items-center">
  <div class="bg-lightgray max-w-6xl rounded-xl px-6 pt-12 pb-10 m-6 shadow-2xl">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <h2 class="font-russoone text-xl mb-5 text-center">Esqueceu sua senha?</h2>
      <p class="w-96 text-center mb-5">Informe seu e-mail abaixo para enviarmos um link para alteração de senha no e-mail cadastrado:</p>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="my-5 ml-3 text-center">
        <div class="pb-2 pr-3">
          <%= f.label :email %><br>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="text-center">
        <%= f.submit "Enviar", class: "cursor-pointer text-blue font-bold mb-2 border-2 border-blue px-4 py-1 rounded hover:bg-blue hover:text-lightgray" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <div class="flex justify-center mt-3">
      <%= link_to "Cadastro", new_user_registration_path, class: "text-blue font-semibold text-sm border-r-2 border-black pr-2" %>
      <%= link_to "Entrar", new_user_session_path, class: "text-blue font-semibold text-sm pl-2" %>
    </div>
  </div>
</div>
