<div class="mx-auto" id="<%= dom_id department %>">
  <p class="my-5">
    <span class="text-lg block font-medium mb-1">Nome:</span>
    <%= department.name %>
  </p>

  <p class="my-5">
    <span class="text-lg block font-medium mb-1">Descrição:</span>
    <%= department.description %>
  </p>

  <p class="my-5">
    <span class="text-lg block font-medium mb-1">Código do departamento:</span>
    <%= department.code %>
  </p>

  <div class="my-5">
    <span class="text-lg block font-medium mb-1">Endereço:</span>
    <p>Rua: <%= department.adress["street"] %></p>
    <p>Número: <%= department.adress["number"]%></p>
    <p>Complemento: <%= department.adress["complement"]%></p>
    <p>Bairro: <%= department.adress["neighborhood"]%></p>
    <p>Cidade: <%= department.adress["city"] %></p>
    <p>Estado: <%= department.adress["state"] %></p>
    <p>CEP: <%= department.adress["cep"] %></p>
  </div>

  <p class="my-5">
    <span class="text-lg block font-medium mb-1">Status:</span>
    <%= department.status %>
  </p>

</div>
