<div id="<%= dom_id department %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= department.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= department.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= department.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Adress:</strong>
    <%= department.adress %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= department.status %>
  </p>

</div>
