<%= form_with(model: department, class: "contents") do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, "Departamento:" %> <br>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description, "Descrição:" %> <br>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :code, "Código do Departamento:" %> <br>
    <%= form.text_field :code, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div>
    <p>Endereço</p>
    <div class="my-5">
      <%= form.label :adress_street, "Rua:" %> <br>
      <%= form.text_field :adress, value: department.adress["street"], name: "deparment[adress][street]",class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :adress_number, "Número:" %> <br>
      <%= form.text_field :adress, value: department.adress["number"], name: "department[adress][number]", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
       <%= form.label :adress_complement, "Complemento:" %> <br>
       <%= form.text_field :adress, value: department.adress["complement"], name: "department[adress][complement]", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :adress_neighborhood, "Bairro:" %> <br>
      <%= form.text_field :adress, value: department.adress["neighborhood"], name: "department[adress][neighborhood]", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div>
      <%= form.label :adress_city, "Cidade" %> <br>
      <%= form.text_field :adress, value: department.adress["city"], name: "department[adress][neighborhood]", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :adress_state, "Estado:" %> <br>
      <%= form.text_field :adress, value: department.adress["state"], name: "department[adress][state]", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    
    <div class="my-5">
      <%= form.label :adress_number, "CEP:" %> <br>
      <%= form.text_field :adress, value: department.adress["cep"], name: "department[adress][cep]", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :status, "Status:" %> <br>
    <%= form.select :status, ["Ativo", "Inativo"],class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline"> <br>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
