<div class="bg-blue w-full h-screen flex justify-center items-center">
  <div class="flex items-stretch bg-lightgray w-fit max-w-6xl rounded-2xl m-6">
      <div class="flex p-7 bg-white rounded-2xl items-center">
        <%= image_tag "login_and_cadaster/login_cadaster_2.svg" %>
      </div>
        <div class="px-7 w-96">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1 class="font-russoone text-center text-xl mt-5">Entrar</h1>
            <% if notice %>
              <p class="notice text-red-600 font-semibold text-center"><%= notice %></p>
            <% elsif alert %>
              <p class="alert text-red-600 font-semibold text-center"><%= alert %></p>
            <% end %>
            <div class="my-5">
              <%= f.label :email %><br>
              <%= f.email_field :email, autofocus: true, autocomplete: :off, class: "block shadow rounded-md border border-gray-400  focus:outline-none px-3 py-2 mt-2 w-full" %>
            </div>
  
            <div class="my-5">
              <%= f.label :password %><br>
              <%= f.password_field :password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
            </div>
  
            <% if devise_mapping.rememberable? %>
              <div class="mt-5 mb-3">
                <%= f.check_box :remember_me, class: "mr-1.5 focus:outline-none" %>
                <%= f.label :remember_me, "Lembre de mim" %>
              </div>
            <% end %>
  
            <%= render "devise/shared/links" %>
            <%= f.submit "Entrar", class: "cursor-pointer font-russoone text-white block shadow rounded-md border bg-blue border-gray-400 outline-none px-3 py-2 mt-6 w-full mb-4" %> 
          <% end %>
        </div>  
  </div>
</div>

