<%= search_form_for @q do |f| %>
    <div class="flex my-5 justify-between">
      <div>
        <p class="font-semibold"> <%= f.label :position_department_id_eq, "Departamento: ",  include_black: true %> </p>
        <p> <%= f.select :position_department_id_eq, options_from_collection_for_select(@departments, :id, :name), include_blank: "Nenhum" %> </p>
      </div>


      <div>
        <p class="font-semibold">Ordenar por data de contratamento: </p>
        <div>
          <p> <%= f.label :contract_date_gteq, "De:" %> </p>
          <p> <%= f.date_select :contract_date_gteq, start_year: 1900, end_year: Time.current.year %> </p>
        </div>
        <div>
          <p> <%= f.label :contract_date_lteq, "Até: " %> </p>
          <p> <%= f.date_select :contract_date_lteq, start_year: 1900, end_year: Time.current.year %> </p>
        </div>
      </div>
      

      <div class="flex gap-5">
        <p><%= link_to "Remover", url_for(only_path: true), class: "bg-red-500 text-white py-2 px-4 rounded block"%>   </p>
        <p> <%= f.submit "Filtrar", class: "bg-blue text-white py-2 px-4 rounded cursor-pointer" %> </p>
      </div>
    </div>

<% end %>